@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="sticky-top top-row px-4">
        <a href="https://github.com/octanic" target="_blank" class="ml-md-auto">Octanic</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
