@page "/about"

<h3>Ajuda</h3>

<p>
    Esta calculadora foi um exercício de <a href="https://blazor.net" target="_blank">Blazor</a> WebAssembly que fiz portando da minha calculadora feita <a href="https://docs.google.com/spreadsheets/d/1nIKa1sC6rhStHq8cxS3CcWNlQPINuD_GCOGycqA-l6I" target="_blank">em uma planilha</a>.
</p>
<p>
    Se quiser acompanhar outros trabalhos meus, acesse meu <a href="https://github.com/Octanic">GitHub</a>.
</p>

<h4>
    Veja abaixo perguntas frequentes sobre esta calculadora
</h4>
<hr />

<dl>
    <dt>
        Para que serve esta ferramenta?

    </dt>
    <dd>
        Esta calculadora serve para verificar qual pacote de Pokémon GO dá mais passes de Raid gastando uma determinada quantidade em dinheiro ou moedas.

    </dd>
    <dt>
        Eu atualizei a página e perdi meus pacotes, o que está errado?

    </dt>
    <dd>
        <p>Toda a gravação ocorre em memória. Não uso nenhum banco de dados para fazer a gravação desses pacotes porque é bem desnecessário manter uma base para gravar isso.</p>
        <p>Como o jogo mantém uma certa estabilidade nesses números, decidi deixar um padrão fixado, e se houver mudanças, alteramos esse padrão. Mas se acha que seria muito mais completo manter outros pacotes, me avise.</p>
    </dd>

    <dt>
        Encontrei um erro ou tenho uma sugestão a fazer. Como faço?

    </dt>
    <dd>
        Você pode acessar a página do repositório deste aplicativo na <a href="https://github.com/Octanic/PoGoPassCalculator/issues" target="_blank">página de issues</a> do GitHub do projeto.

    </dd>
</dl>